<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Vivek Mehta</title>
</head>
<body>
    <h1> About Me </h1>
    <h2> Education</h2>
    <p> I joined the University of Maryland in 2019 as a <em>Finance and Information Systems major</em>.
        I spent the first two years of my education focusing consulting. After an attempt at starting my own company,
        I discovered a passion of mine for Product Management. In pursuit of this career, I decided to switch my major
        to <em>Marketing and Information Systems</em>. Throughout my time here I was also able to work some jobs around campus
        such as being a Teaching Assistant and a Front Desk Worker at the Robert H. Smith School of Business. </p>
    <h2> Hobbies and Interests </h2>
    <p> I am very interested in hobbies such as playing <strong>sports</strong>, <strong>hanging out with friends</strong>, cooking, and learning new
        instruments. Some interests of mine include mashing songs, tasting foods around the world, and trying ice cream
        flavors.</p>
    <p> Sports I like to play:</p>
    <!-- This is my unordered list about various sports that I like to play. -->
    <ul>
        <li>Basketball</li>
        <li>Golf</li>
        <li>Volleyball</li>
        <li>Tennis</li>
     <!-- This is my ordered list about the ice cream flavors I like. -->
    </ul>

    <p> My Preference in Ice Cream Flavors I've Tried</p>
    <ol>
        <li>Coffee</li>
        <li>Chocolate Chip Cookie Dough</li>
        <li>Moosetracks</li>
        <li>Cookies and Cream</li>
        <li>Chocoalte and Peanut Butter</li>
    </ol>
    <!-- This is my table about some courses that I took and when I took them. -->
    <table>
        <tr>
            <th>Course</th>
            <th>Semester</th>
        </tr>
        <tr>
            <td>BMGT302</td>
            <td>Spring 2022</td>
        </tr>
        <tr>
            <td>UNIV362</td>
            <td>Fall 2022</td>
        </tr>
        <tr>
            <td>DANC138W</td>
            <td>Spring 2023</td>
        </tr>
    </table>
    <p>My <a href="hello">hello route</a></p>
    <p>Two websites I like to shop at are <a href="https://target.com" target="_blank">Target</a> and <a href="https://amazon.com" target="_blank">Amazon</a></p>


    <p>Here is a picture of the Smith logo</p>
    <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
         width="267" height ="72" alt="Smith Logo">


</body>
</html>